{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "flowtype-errors"],
  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype-errors/show-errors": 2,
    "arrow-parens": [2, "always"],
    "class-methods-use-this": 0,
    "prefer-const": 0,
    "prefer-template": 0,
    "prefer-destructuring": 1,
    "no-await-in-loop": 0,
    "no-duplicate-imports": 0,
    "no-empty-function": 0,
    "no-lonely-if": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "no-console": [1, {"allow": ["warn", "error", "trace"]}],
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "no-return-await": 0,
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
    "comma-dangle": [
      "error", {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "space-before-function-paren": [
      "error", {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "never"
      }
    ],
    "consistent-return": ["error", {"treatUndefinedAsUnspecified": true}],
    "spaced-comment": [0, "always"],
    "func-names": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-duplicates": 2,
    "import/prefer-default-export": 0,
    "radix": 0,
    "max-len": [2, {"code": 120, "ignoreComments": true}]
  }
}
